@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --primary: #026fbf;
    --white: #fff;
    --blue-background: #edf2f6;
    --text-color: #4b4b4b;
    --nav-bg: #61a2f8;
}

::-webkit-scrollbar {
    display: none;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.body {
    width: 100vw;
    height: 100vh;
    background-color: var(--blue-background);
    font-family: "Playfair Display", serif;
}

p{
    margin-bottom: 0 !important;
}

/* nav bar css */

.nav-bar{
    width: 100vw;
    background-color: var(--nav-bg);
    padding: 1vh 2vw;
}

.brand{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.brand-logo{
    width: 4.5vw;
}

.brand-div{
    display: flex;
    flex-direction: column;
    color: var(--white);
}

.brand-name{
    font-size: 1.8vw;
    font-weight: 700;
}

.brand-sub-name{
    font-size: 0.8vw;
    font-weight: 500;
}